@use '@css-utilities/flexbox.scss';

.instance-tags-modal {
  .cds--modal-container {
    background-color: #fff;
    .cds--modal-header {
      margin-bottom: 4px;
      &__heading {
        font-weight: bold;
      }
    }
    .cds--modal-content {
      padding-top: 0;
      padding-bottom: 32px;
    }
  }
  .hint {
    color: #878787;
  }
  .content-wrap {
    padding: 8px;
    margin-top: 32px;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #e0e0e0;
    .tag-input-wrap input {
      border: 1px solid #e0e0e0;
    }
  }
  .footer-wrap {
    margin-top: 12px;
    .save-button {
      @extend %flex-center;
      padding: 0;
      width: 64px;
    }
  }
}
