@use '@css-utilities/flexbox.scss';

.user-avatar {
  $size-sm: 24px;
  $size-md: 32px;

  @extend %flex-center;
  border-radius: 50%;
  text-transform: uppercase;
  color: #fff;

  // Colors
  &.color-0 {
    background-color: #ffff00;
  }

  &.color-1 {
    background-color: #0000ff;
  }

  &.color-2 {
    background-color: #15cd72;
  }

  &.color-3 {
    background-color: #8143f3;
  }

  &.color-4 {
    background-color: #ff00ff;
  }

  // Sizes
  &.sm {
    width: $size-sm;
    height: $size-sm;
    font-size: calc($size-sm / 2);
  }

  &.md {
    width: $size-md;
    height: $size-md;
    font-size: calc($size-md / 2);
  }
}
