/* import all components and content scss files */

// component scss files - these are the components css that are rendered in each components
@use './components/InstanceTagsModal/instance-tags-modal';
@use './components/PageHeader/page-header';
@use './components/RouterView/router-view';
@use './components/UIHeader/ui-header';
@use './components/UserAvatar/user-avatar';

@use './pages/Instances/instances-page';
@use './pages/NotFound/not-found-page';

.app {
  height: 100%;
  // The height of carbon header.
  padding-top: 3rem;
  // The width of carbon side nav.
  padding-left: 3rem;
}
